[emission]
Provider=co2signal
Interval=600

[co2signal]
#Please get your free API token here: https://co2signal.com/
Token=<CO2TOKEN>
#Please look up your grid zone here: https://www.electricitymap.org
Country=<CO2COUNTRY>

[policy]
Control=auto
Governor=<CO2POLICY>
CO2Range=150-500

[monitor]
PowerSensor=auto
Interval=5
